---

# Augmn Clang Coding Style for Objective-C.
# Based on LLVM Coding Style.
# The fllowing rules are targetting styles defined in clang-format 3.5, and some commented styles are only supported in 3.6.
# 2015, Augmn Inc.

Language: Cpp
BasedOnStyle: LLVM 
Standard: Auto

# Indentation
IndentWidth: 8
TabWidth: 8
UseTab: Always          
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
IndentCaseLabels: true
IndentFunctionDeclarationAfterType: false
IndentWrappedFunctionNames: true 
#ObjCBlockIndentWidth: 8

# Space
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
SpacesInParentheses: false 
# SpacesInSquareBrackets: true
SpacesInContainerLiterals: false
SpacesBeforeTrailingComments: 1 
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
KeepEmptyLinesAtTheStartOfBlocks: false

# Column
ColumnLimit: 160

# Lining
AllowShortIfStatementsOnASingleLine: false 
AllowShortLoopsOnASingleLine: false 
AllowShortFunctionsOnASingleLine: false 
AllowShortBlocksOnASingleLine: false
PointerBindsToType: false
AlignTrailingComments: true
BinPackParameters: false 
# BinPackArguments: false
ExperimentalAutoDetectBinPacking: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignEscapedNewlinesLeft: true

BreakBeforeBraces: Attach 
AlwaysBreakBeforeMultilineStrings: false

...
